<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieList</title>
</head>
<body>
    <h1>{{ object }}</h1>
<p class="lead">
{{ object.summary }}
</p>

 {# rating div omitted #}
  <div>
    {% if vote_form %}
      <form
          method="post"
          action="{{ vote_form_url }}" >
        {% csrf_token %}
        {{ vote_form.as_p }}
        <button
            class="btn btn-primary" >
          Vote
        </button >
      </form >
    <h3>Score: {{ object.score|default_if_none:"No score yet!" }}</h3>
    {% else %}
      <p >Log in to vote for this movie</p >
    {% endif %}
  </div >
</body>
</html>