<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieList</title>
</head>
<body>
    <h1>Movies</h1>
    <ul>
      <li>{{ movie.title }} - {{ movie.year }}</li>
      <li>{{ movie.plot }}</li>
      <li>{{ movie.rating }}</li>
      <li>{{ movie.runtime }}</li>
      <li>{{ movie.actors }}</li>
    </ul>

    <div>
        <h2>
            Score: {{ score|default_if_none:"TBD" }}
        </h2>
    </div>

    <div>
        {% if vote_form %}
        <form
            method="post"
            action="{{ vote_form_url }}" >
            {% csrf_token %}
            {{ vote_form.as_p }}
            <button
                class="btn btn-primary" type="submit" >
                Vote
            </button>
        </form>
        {% else %}
        <p> Log in to vote </p>
        {% endif %}
    </div>
</body>
</html>